<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="plugin/css/angular-material.min.css">
	<link rel="stylesheet" href="plugin/css/styles.css">
	<link rel="stylesheet" href="plugin/css/bootstrap.min.css">

</head>
<body bgcolor="#ff0000" ng-coak>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Card Master</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#">Create Agency <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Manager</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">User Log</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Recharge</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Register</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Change Password</a>
				</li>
			</ul>
		</div>
	</nav>
	<br>

	<md-content layout="row" layout-align="center" layout-padding="layout-padding" ng-controller="register-controller">
		<md-card>
			<md-toolbar>
				<div class="md-toolbar-tools register">
					<h2><span>CREATE ACCOUNT</span></h2>
				</div>
			</md-toolbar>
			<md-card-content>
				<form name="register">
					<md-input-container class="md-icon-float md-block">
						<label>Account</label>
						<md-icon md-svg-src="plugin/img/icons/user.svg" class="icons"></md-icon>
						<input id="user_account" ng-model="user.account" type="text">
					</md-input-container>

					<md-input-container class="md-icon-float md-block">
						<!-- Use floating label instead of placeholder -->
						<label>Name</label>
						<md-icon md-svg-src="plugin/img/icons/name.svg" class="icons"></md-icon>
						<input id="username" ng-model="user.name" type="text">
					</md-input-container>

					<md-input-container class="md-icon-float md-block">
						<!-- Use floating label instead of placeholder -->
						<label>Password</label>
						<md-icon md-svg-src="plugin/img/icons/lock.svg" class="icons"></md-icon>
						<input id="user_password" ng-model="user.password" type="password">				
					</md-input-container>

					<md-input-container class="md-icon-float md-block">
						<!-- Use floating label instead of placeholder -->
						<label>Retype Password</label>
						<md-icon md-svg-src="plugin/img/icons/re-lock.svg" class="icons"></md-icon>
						<input id="user_retypepassword" ng-model="user.retype_password" type="password" ng-required="true">
					</md-input-container>

					<md-input-container class="md-block">
						<md-button id="btnRegister" class="md-raised md-warn" ng-click="display()">Create</md-button>
					</md-input-container>
				</form>
			</md-card-content>
		</md-card>
	</md-content>
	
	<script src="plugin/js/angular.min.js"></script>
	<script src="plugin/js/angular-animate.min.js"></script>
	<script src="plugin/js/angular-aria.min.js"></script>
	<script src="plugin/js/angular-messages.min.js"></script>
	<!-- Angular Material Library -->
	<script src="plugin/js/angular-material.min.js"></script> 
	<script src="plugin/js/jquery.js"></script> 
	<script src="plugin/js/bootstrap.min.js"></script> 

	<!-- business logic -->
	<script type="text/javascript" src="app.js"></script>
	<script>

		$(document).ready(function () {
			$(".navbar-nav li a").click(function(event) {
				$(".navbar-collapse").collapse('hide');
			});
		});

	</script>
</body>
</html>
